$colors: ( "primary": #68b661, "accent": #a3db59);
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: map-get($map: $colors, $key: "primary");
    color: green;
}

@mixin button-1 {
    text-decoration: none;
    color: red;
    padding: 10px 25px;
    background-color: map-get($map: $colors, $key: "accent");
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        margin-left: 50px;
    }
    .nav-links {
        list-style-type: none;
        display: flex;
        width: 300px;
        max-width: 3000px;
        justify-content: space-between;
        margin-right: 50px;
        li {
            a {
                @include button-1;
            }
        }
    }
}

.featured {
    a {
        @include button-1;
    }
}